html {
  font-family: "Open Sans Condensed", sans-serif;
}

hr {
  margin-top: 0.5rem;
  opacity: 0.5;
}

input[type="checkbox"]:checked + label:before {
  background: #6666;
  opacity: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  content: "\2714";
  height: 12vh;
  font-size: 55px;
  width: 12vh;
  align-self: center;
}

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

input[type="checkbox"]:checked ~ div {
  text-decoration: line-through green;
  text-decoration-style: wavy;
}

input[type="checkbox"]:checked + .buttonsContainer .editBtn {
  display: none;
}

input[type="checkbox"] + label:before {
  content: "";
  opacity: 1;
  display: flex;
  width: 12vh;
  height: 12vh;
  border-radius: 50%;
  background: #6666;
}

input[type="checkbox"] + label {
  display: inherit;
  align-self: center;
  text-align: center;
  padding-left: 10px;
  position: absolute;
}

input[type="checkbox"] {
  height: 8vh;
  z-index: 2;
  left: 22.5px;
  opacity: 0;
  position: relative;
  width: 12vw;
  align-self: center;
}

.todo-items {
  display: flex;
  justify-content: space-between;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: block;
  margin: 0 auto;
  width: 95vw;
  margin-top: 10%;
  border: 1px black solid;
  border-radius: 10px;
}

.buttonsContainer {
  display: flex;
  padding: 10px;
  flex-direction: column;
}

.editBtn {
  background: url(./download.png);
  background-size: cover;
  border-radius: 50%;
  width: 50px;
  -webkit-transform: scale(1.2);
  border: 0;
  height: 50px;
  margin-top: 25%;
}

li h3 {
  margin: 0;
  text-align: center;
  max-width: 25ch;
  word-break: break-all;
  color: #141414;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.8rem;
}

.deleteBtn {
  background: url(./delete.png);
  background-size: cover;
  border-radius: 50%;
  width: 50px;
  border: 0;
  height: 50px;
}

li p {
  margin: 1rem;
  font-size: 1.35rem;
  color: #666;
  text-align: justify;
  max-width: 25ch;
  word-break: break-all;
}

html,
body {
  margin: 0;
}

.page-title {
  margin-top: 3%;
  color: #141414;
  font-size: 1.5rem;
  text-align: center;
}

.contentContainer {
  padding: 45px;
}

#todo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
